<mat-card>
  <div class="back">
    <img src="assets/back.jpg">
    <h2>Mosca's Personal</h2><b>
    <h3>Website</h3></b>
  </div>
  <div id="About">
    <h1> <span class="material-icons blue-color"> emoji_emotions</span>About Me</h1>
    <h2><p><span class="material-icons teal-color"> emoji_people</span>Hi I'm Gerald Mosca, </p></h2>
    <p>A College Student of Easter Visayas State University (Tacloban Campus)</p>
    <p> A BAchelor of Science in Information Technology(BSIT) 3rd Year Level</p>
    <p> I'm 21 years old </p>
    <p>Welcome to my Website feel free to look around to find out more about me</p>

  </div>
</mat-card>
